*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(img/15356062_SL_050721_42770_03.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.elements {
    position: relative;
    top: 40%;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.elements h1 {
    color: white;
}

button{
    user-select: none;
    display: block;
    margin: 20px auto;
    background: crimson;
    color: white;
    border: 0;
    cursor: pointer;
    padding: 10px 30px;
    border-radius: 5px;
}

.popup-wrapper{
    user-select: none;
    background: rgba(0,0,0, .5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    border-radius: 5px;
}

.popup{
    user-select: none;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    width: 100%;
    max-width: 600px;
    margin: 10% auto;
    padding: 20px;
    background: white;
    position: relative;
    line-height: 35px;
    border-radius: 5px;
    
    

}

.popupContent a{
    user-select: none;
    color: white;
    border: 0;
    cursor: pointer;
    padding: 6px 10px;
    text-decoration: none;
    background-color: crimson;
    border-radius: 5px;
    
}

.popup-Clouse{
    user-select: none;
    position: absolute;
    top: 2px;
    right: 10px;
    cursor: pointer;

}